body
{
    background-image: url("../res/inicial.jpg");
}
h1
{
    color: black;
    font-weight: lighter;
}
#exampleInputName1, #exampleInputTel1, #exampleInputEmail1, #exampleFormControlTextarea1
{
    text-align: left;
    color: black;

}
#card_form{
    padding: 0px 30px;
    background-color: transparent;
    border-radius: 3%;
}
.uno
{
    background-color: white;
    opacity: 0.9;
}
#emailHelp
{
    font-weight: lighter;
}
.card-body
{
    background-color: transparent !important;
}
.star
{
    color: yellow;
}
.form-check
{
    text-align: right;
    font-weight: bolder;
}
.duda
{
    background-color: white;
    border-radius: 1em/1em;
}
.jumbotron
{
    padding: 1%;
    background-color: transparent !important;
}
.lead, .lbl, .comentario
{
    font-weight: bolder;
    color: black;
    background-color: white;
}
.img
{
    text-align: right;
    align-items: center;
}
#new_card
{
    display: none;
}
#form_comment
{
    display: none;
}
#addComment
{
    width: 100%;
    height: 30%;
    margin-top: 46%;
    align-items: center;
    text-align: center;
}
